<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Projeto Bootstrap</title>
    <!-- Adicione o Bootstrap CSS de um CDN -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <style>
    .row {
          display: flex;
          justify-content: center;
        }
        
    .a {
    background-color: rgba(171, 133, 223, 0.5);
    width: 80%; /* Definindo a largura do conteúdo */
    max-width: 600px; /* Definindo a largura máxima */
    padding: 45px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }

  h1 {
    font-size: 50px;
    margin-bottom: 20px;
  }

    p {
        justify-content: center;
        color: rgba(47, 97, 31, 0.862);  /* Definindo o tamanho da fonte */
        padding: 10px; /* Adicionando um preenchimento interno */
        border-radius: 10px; /* Adicionando borda arredondada */
        background-color: rgba(86, 179, 86, 0.604); /* Definindo a cor de fundo apenas para o texto */
  }
  </style>


</head>
<body>
    <!-- Seu conteúdo vai aqui -->
  <div class="row">
    <div class="a">
      <h1>Confirmação de cadastro</h1>
    </div>
  </div>
  <br>
  <div class="row">
    <p>Cadastro realizado com sucesso.</p>
  </div>

    <!-- Adicione o JavaScript do Bootstrap e o Popper.js (necessário para alguns componentes do Bootstrap) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>



</body>
</html>
